/* Уберите маргины у всех элементов */

/* Для блоков: а) прпиши паддинги; */
/* б) пропиши маргины */
/* в) пропиши бэкгроунд */
/* г) .. бордер радиус и прозрачнсть */

/* Для боковой панели: а) пропиши позицию */
/* б) пропиши положение */
/* в) ширину */
#chips-field{
    
    position: fixed;
    width: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    background: #303030;
    opacity: 50%;
    
}